// 提供项目scss全局变量
// 左侧菜单栏
$base-menu-width:260px;//宽度
$base-menu-backgroundcolor:#001529;//背景颜色
$base-menu-logo-height:50px;//logo高度
$base-menu-title-fontSize:20px;
$base-menu-min-width:50px;
// 顶部导航栏
$base-tabbar-height:50px;//高度
